.empty {
  line-height: 150px;
  text-align: center;
  margin: auto;
}

.hidden {
  display: none;
}

.label-item {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.priority {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  font-size: medium;
}

.label {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  padding: 20px 0px;
}

select {
  width: 50%;
  height: 40px;
  font-size: medium;
}
